MNIST
*.pyc
lightning_logs
*.zip
data
*.pyc
*.sh
notes.txt
data
__pycache__
.pytest_cache
path
.pytest_cache
__pycache__
*.pyc
dataset
*.pdf
*_model
model_state
.ipynb_checkpoints
gpu.so
model.pkt
__pycache__
.vscode
.vscode/settings.json
upload_lambda.py
.lambda_cli_ip
.env
